@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-dialog-container {
    max-height: 80vh !important;
}

button:disabled {
    opacity: .4;
}